$transitionAll: all 0.5s ease-in-out;
$color-Beige: #d0bb93;
$color-brouwn-p: #9e8a7f;
$color-gold: #a5802d;
$color-blue: #5b728f;
$color-white-2: #fffafa;
$color-cacao: #5d5252;
$color-gray: #b2b3b5;
$color-pink: #f4837d;
$color-white: #ffffff;
$color-black: #00000029;
$color-red: #c50000;
$color-gray: #515151;
$color-gray-op: #333333;
